<h1>Table Storage Viewer</h1>
<style>
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #8181f1;
  }
  </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
      $('.search').on('keyup',function(){
          var searchTerm = $(this).val().toLowerCase();
          $('#userTbl tbody tr').each(function(){
              var lineStr = $(this).text().toLowerCase();
              if(lineStr.indexOf(searchTerm) === -1){
                  $(this).hide();
              }else{
                  $(this).show();
              }
          });
      });
  });
  </script>
<p>Viewing most recent results from storage '{{storageName}}', '{{tableName}}' table</p>

      <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="What you looking for?">
    </div>

<table class="table table-striped" id="userTbl">      
  <tr>
    {{#with rows.[0]}}
      {{#each this}}
        <th>{{@key}}</th>
      {{/each}}
    {{/with}}
  </tr>
  {{#each rows}}
    <tr>
      {{#each this}}
          <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</table>